<div class="card mb-2 shadow">
    <div class="row">
      <div class="col-4">
        <img
          src="{{ blog_img }}"
          class="img-fluid rounded-start"
          alt=""
        />
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{ blog_title }}</h5>
          <p class="card-text">
            {{ blog_content }}
          </p>
          <a href="{{ url }}" class="btn btn-primary ms-auto" style="position: relative;">Read</a>
        </div>
      </div>
    </div>
  </div>